

<table>
        <tr>
            <td>
                一位率
            </td>
            <td>
                <%= text_field_tag :score1 %>％
            </td>
        </tr>
        <tr>
            <td>
                二位率
            </td>
            <td>
                <%= text_field_tag :score2 %>％
            </td>
        </tr>
        <tr>
            <td>
                三位率
            </td>
            <td>
                <%= text_field_tag :score3 %>％
            </td>
        </tr>
        <tr>
            <td>
                四位率
            </td>
            <td>
                <%= text_field_tag :score4 %>％
            </td>
        </tr>
        <tr>
            <td>
                平均順位
            </td>
            <td>
                <%= text_field_tag :average_rank %>％
            </td>
        </tr>
        <tr>
            <td>
                平均収支/1ゲーム
            </td>
            <td>
                <%= text_field_tag :average_income %>％
            </td>
        </tr>
        <tr>
            <td>
                平均獲得ポイント/1ゲーム
            </td>
            <td>
                <%= text_field_tag :average_point %>％
            </td>
        </tr>
        <tr>
            <td>
                平均天鳳pt/1ゲーム
            </td>
            <td>
                <%= text_field_tag :average_tenhou_pt %>％
            </td>
        </tr>

    </table>