

<table>
        <tr>
            <td>
                一位率
            </td>
            <td>
                <%= @rank1_rate %>％
            </td>
        </tr>
        <tr>
            <td>
                二位率
            </td>
            <td>
                <%= @rank2_rate %>％
            </td>
        </tr>
        <tr>
            <td>
                三位率
            </td>
            <td>
                <%= @rank3_rate %>％
            </td>
        </tr>
        <tr>
            <td>
                四位率
            </td>
            <td>
                <%= @rank4_rate %>％
            </td>
        </tr>
        <tr>
            <td>
                平均順位
            </td>
            <td>
                <%= @average_rank %>
            </td>
        </tr>
        <tr>
            <td>
                平均収支/1ゲーム
            </td>
            <td>
                <%= @average_income_point %>
            </td>
        </tr>
        <tr>
            <td>
                平均獲得ポイント(順位戦)/1ゲーム
            </td>
            <td>
                <%= text_field_tag :average_point %>％
            </td>
        </tr>
        <tr>
            <td>
                平均天鳳pt/1ゲーム
            </td>
            <td>
                <%= text_field_tag :average_tenhou_pt %>％
            </td>
        </tr>

    </table>