

<table>
        <tr>
            <td>
                一位率
            </td>
            <td>
                <%= @rank1_rate %>％
            </td>
        </tr>
        <tr>
            <td>
                二位率
            </td>
            <td>
                <%= @rank2_rate %>％
            </td>
        </tr>
        <tr>
            <td>
                三位率
            </td>
            <td>
                <%= @rank3_rate %>％
            </td>
        </tr>
        <tr>
            <td>
                四位率
            </td>
            <td>
                <%= @rank4_rate %>％
            </td>
        </tr>
        <tr>
            <td>
                平均順位
            </td>
            <td>
                <%= @average_rank %>
            </td>
        </tr>
        <tr>
            <td>
                平均収支/1ゲーム(収支戦)
            </td>
            <td>
                <%= @average_income_point %>
            </td>
        </tr>
        <div class="average_point_1game">
            <tr>
                <td>
                    平均獲得ポイント/1ゲーム(順位戦)
                </td>
                <td>
                    <%= @average_point %>
                </td>
            </tr>
        </div>

        <%= link_to '戻る', :back , :class => "btn btn-primary" %>
    </table>