<!DOCTYPE html>
<html>
  <head>
    <title>MahjongCalc</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>

    <%# <meta name="turbolinks-cache-control" content="no-cache"> %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
